{% extends 'blog/base.html' %}
{% load static %}
{% block content %}


<div class="col-sm-10">
    <h3 class="text-white my-5">Contact Page</h3>
    <form action="/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Your Name *</label>  
                <input type="text" class="form-control" id="name" />              
            </div>
            <div class="form-group col-md-6">
                <label for="email">Your Email *</label>  
                <input type="email" class="form-control" id="email" required />             
            </div>
            <div class="form-group col-md-6">
                <label for="number">Your Number</label>  <br>
                <input type="text" class="form-control" id="number" />             
            </div>
            <div class="mb-3">
                <label for="message">Your message *</label>  
                <textarea class="form-control" id="message" required></textarea>             
            </div>
        </div>
        <button class="btn btn-primary" type="submit" name="submit">Send</button>
    </form>
</div>

{% endblock content %}

